<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body class="fuente">
 
  <div class="container">
    <img src="/assets/img/banner.jpg" class="img-fluid" alt="">
        
  </div>
  
  
  
  <div>
    <h1>¿Qué Ofrecemos?</h1>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <img src="/assets/img/sisope.png" class="img-fluid" alt="">
          <p>Instalación de Sistemas Operativos</p>
        </div>
        <div class="col-4">
          <img src="/assets/img/sofware.png" class="img-fluid" alt="">
          <p>Instalación de Software de Oficina</p>
        </div>
        <div class="col-4">
          <img src="/assets/img/repara.png" class="img-fluid" alt="">
          <p>Reparación de Computadoras</p>
        </div>
      </div>
    </div>
  
  </div>

</body>
</html>
